In [26]:
import pandas as pd
import numpy as np
from datetime import datetime

In [38]:
data_path = "../data/"
frq = pd.read_csv(data_path+'frequency.csv')
per = pd.read_csv(data_path+'perimeters.csv')
per.head()
frq.head()

,Fire_ID,Fire_Name,ASMNT_TYPE,PRE_ID,POST_ID,ND_T,IG_T,LOW_T,MOD_T,HIGH_T,...,STATE,ADMIN,MTBS_ZONE,GACC,HUC4_CODE,HUC4_NAME,Version,RevCode,RelDate,Fire_Type
0,AZ3603211215419980609,TOPEKA,Initial,5.037040e+13,5.037040e+13,-970,-150,-25,9999,9999,...,Arizona,NPS,Southwest,Southwest,15010004,Havasu Canyon,Revised,A,10/1/2010,WFU
1,CA3502811950619950625,ELK,Initial,5.042040e+13,5.042040e+13,-970,-150,65,9999,9999,...,California,BLM,Pacific Southwest,Southern California,18060003,Carrizo Plain,Revised,A,10/1/2010,WF
2,FL2776008141819841224,UNNAMED,Initial,5.016040e+13,5.016040e+13,-970,-150,60,9999,9999,...,Florida,OTHER,Southeast,Southern,3090101,Kissimmee,Revised,A,8/31/2013,WF
3,FL3034108205820040308,STEEL BRIDGE,Initial,7.017040e+13,5.017040e+13,-970,-150,120,9999,9999,...,Florida,OTHER,Southeast,Southern,3070204,St. Marys,Revised,A,8/31/2013,WF
4,FL3039108733920000802,UNNAMED,Initial,7.020040e+13,5.020040e+13,-970,-150,100,9999,9999,...,Florida,OTHER,Southeast,Southern,3140107,Perdido Bay,Revised,A,8/31/2013,WF

In [39]:
list(frq)

['Fire_ID',
 'Fire_Name',
 'ASMNT_TYPE',
 'PRE_ID',
 'POST_ID',
 'ND_T',
 'IG_T',
 'LOW_T',
 'MOD_T',
 'HIGH_T',
 'FIRE_YEAR',
 'FIRE_MON',
 'FIRE_DAY',
 'LAT',
 'LONG',
 'WRS_PATH',
 'WRS_ROW',
 'P_ACRES',
 'R_ACRES',
 'STATE',
 'ADMIN',
 'MTBS_ZONE',
 'GACC',
 'HUC4_CODE',
 'HUC4_NAME',
 'Version',
 'RevCode',
 'RelDate',
 'Fire_Type']

In [40]:
# remove unneeded columns
columns = ['ASMNT_TYPE', 'PRE_ID', 'POST_ID', 'ND_T', 'IG_T', 'LOW_T', 'MOD_T', 'HIGH_T', 'WRS_PATH', 'WRS_ROW','R_ACRES', 'ADMIN','MTBS_ZONE', 'GACC', 'HUC4_NAME', 'Version',  'RevCode', 'RelDate', 'HUC4_CODE']
frq = frq.drop(columns, 1)
frq.head()

,Fire_ID,Fire_Name,FIRE_YEAR,FIRE_MON,FIRE_DAY,LAT,LONG,P_ACRES,STATE,Fire_Type
0,AZ3603211215419980609,TOPEKA,1998,6,9,36.032,-112.154,2066,Arizona,WFU
1,CA3502811950619950625,ELK,1995,6,25,35.028,-119.506,1810,California,WF
2,FL2776008141819841224,UNNAMED,1984,12,24,27.760,-81.418,1067,Florida,WF
3,FL3034108205820040308,STEEL BRIDGE,2004,3,8,30.341,-82.058,808,Florida,WF
4,FL3039108733920000802,UNNAMED,2000,8,2,30.391,-87.339,777,Florida,WF

In [41]:
frq.dtypes

Fire_ID       object
Fire_Name     object
FIRE_YEAR      int64
FIRE_MON       int64
FIRE_DAY       int64
LAT          float64
LONG         float64
P_ACRES        int64
STATE         object
Fire_Type     object
dtype: object

In [42]:
# create new column for datetime
frq.insert(5, 'datetime_str', str)

In [43]:

# convert to int
conversion_colmuns = ['FIRE_YEAR', 'FIRE_MON', 'FIRE_DAY']
for item in conversion_colmuns:
    frq[item] = frq[item].astype(np.int64)
        
# add leading zeros
frq['FIRE_MON'] = frq.FIRE_MON.map('{:02}'.format)
frq['FIRE_DAY'] = frq.FIRE_DAY.map('{:02}'.format)

# convert back to strings
for item in conversion_colmuns:
    frq[item] = frq[item].astype(np.str)

frq['datetime_str'] = frq.FIRE_YEAR + '-' + frq.FIRE_MON + '-' + frq.FIRE_DAY + ' 00:00:00' 

frq.dtypes
frq.head()

,Fire_ID,Fire_Name,FIRE_YEAR,FIRE_MON,FIRE_DAY,datetime_str,LAT,LONG,P_ACRES,STATE,Fire_Type
0,AZ3603211215419980609,TOPEKA,1998,06,09,1998-06-09 00:00:00,36.032,-112.154,2066,Arizona,WFU
1,CA3502811950619950625,ELK,1995,06,25,1995-06-25 00:00:00,35.028,-119.506,1810,California,WF
2,FL2776008141819841224,UNNAMED,1984,12,24,1984-12-24 00:00:00,27.760,-81.418,1067,Florida,WF
3,FL3034108205820040308,STEEL BRIDGE,2004,03,08,2004-03-08 00:00:00,30.341,-82.058,808,Florida,WF
4,FL3039108733920000802,UNNAMED,2000,08,02,2000-08-02 00:00:00,30.391,-87.339,777,Florida,WF

In [44]:
# convert to datetime
frq.datetime_str = pd.to_datetime(frq.datetime_str)
frq.head()

,Fire_ID,Fire_Name,FIRE_YEAR,FIRE_MON,FIRE_DAY,datetime_str,LAT,LONG,P_ACRES,STATE,Fire_Type
0,AZ3603211215419980609,TOPEKA,1998,06,09,1998-06-09,36.032,-112.154,2066,Arizona,WFU
1,CA3502811950619950625,ELK,1995,06,25,1995-06-25,35.028,-119.506,1810,California,WF
2,FL2776008141819841224,UNNAMED,1984,12,24,1984-12-24,27.760,-81.418,1067,Florida,WF
3,FL3034108205820040308,STEEL BRIDGE,2004,03,08,2004-03-08,30.341,-82.058,808,Florida,WF
4,FL3039108733920000802,UNNAMED,2000,08,02,2000-08-02,30.391,-87.339,777,Florida,WF

In [48]:
# join and print 

wildfires = pd.merge(frq, per, on ="Fire_ID")
# columns = ['Fire_Name', 'Year']
# frq = frq.drop(columns, 1)
frq.head()

,Fire_ID,Fire_Name,FIRE_YEAR,FIRE_MON,FIRE_DAY,datetime_str,LAT,LONG,P_ACRES,STATE,Fire_Type
0,AZ3603211215419980609,TOPEKA,1998,06,09,1998-06-09,36.032,-112.154,2066,Arizona,WFU
1,CA3502811950619950625,ELK,1995,06,25,1995-06-25,35.028,-119.506,1810,California,WF
2,FL2776008141819841224,UNNAMED,1984,12,24,1984-12-24,27.760,-81.418,1067,Florida,WF
3,FL3034108205820040308,STEEL BRIDGE,2004,03,08,2004-03-08,30.341,-82.058,808,Florida,WF
4,FL3039108733920000802,UNNAMED,2000,08,02,2000-08-02,30.391,-87.339,777,Florida,WF

In [49]:
wildfires.head()
wildfires.dtypes

Fire_ID                 object
Fire_Name_x             object
FIRE_YEAR               object
FIRE_MON                object
FIRE_DAY                object
datetime_str    datetime64[ns]
LAT                    float64
LONG                   float64
P_ACRES                  int64
STATE                   object
Fire_Type               object
Fire_Name_y             object
Year                     int64
ig_date                 object
Acres                    int64
FireType                object
dtype: object

In [64]:
# sort to the last 25 years
wf = wildfires[wildfires['Year'] > 1996]
wf = wf[wf['Fire_Type'] == 'WF']

wf.head()

,Fire_ID,Fire_Name_x,FIRE_YEAR,FIRE_MON,FIRE_DAY,datetime_str,LAT,LONG,P_ACRES,STATE,Fire_Type,Fire_Name_y,Year,ig_date,Acres,FireType
3,FL3034108205820040308,STEEL BRIDGE,2004,03,08,2004-03-08,30.341,-82.058,808,Florida,WF,STEEL BRIDGE,2004,3/8/2004,808,Wildfire
4,FL3039108733920000802,UNNAMED,2000,08,02,2000-08-02,30.391,-87.339,777,Florida,WF,UNNAMED,2000,8/2/2000,777,Wildfire
5,GA3050708217920070410,MONIAC,2007,04,10,2007-04-10,30.507,-82.179,826,Georgia,WF,MONIAC,2007,4/10/2007,826,Wildfire
6,GA3052908206820070228,ST.GEORGE,2007,02,28,2007-02-28,30.529,-82.068,1122,Georgia,WF,ST.GEORGE,2007,2/28/2007,1122,Wildfire
10,ID4644111673820030818,EAST OF ARROW,2003,08,18,2003-08-18,46.441,-116.738,1908,Idaho,WF,EAST OF ARROW,2003,8/18/2003,1908,Wildfire

In [65]:
wf.to_csv(data_path+'wildfires.csv')